version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: messenger_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    image: khkhlv/messenger-backend:latest
#    build:
#      context: .
#      dockerfile: Dockerfile
#    container_name: messenger-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/messenger_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: admin
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
    depends_on:
      - db


  frontend:
    image: khkhlv/messenger-frontend:latest
#    build:
#      context: frontend
#      dockerfile: Dockerfile
#    container_name: messenger-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data: