apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: frontend
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: frontend
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert
        kompose.version: 1.37.0 (fb0539e64)
        argocd.argoproj.io/sync-wave: "1"
        deploy.kubernetes.io/hash: "{{ .Values.commitHash }}"  # ← будет подменяться в CI
      labels:
        io.kompose.service: frontend
    spec:
      containers:
        - image: khkhlv/messenger-frontend:latest
          name: frontend
          imagePullPolicy: Always
          ports:
            - containerPort: 5173
              protocol: TCP
      restartPolicy: Always
