name: Sync to GitLab on master push

on:
  push:
    branches: [ master ]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # чтобы получить всю историю

      - name: Push to GitLab
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_PUSH_TOKEN }}
        run: |
          git remote add gitlab https://oauth2:${GITLAB_TOKEN}@gitlab.com/khkhlv/simple-messenger.git
          git push --force gitlab HEAD:master